<a href="https://colab.research.google.com/github/Aivy87656/house_price_MLmodel/blob/main/house_price_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [ ]:
df = pd.read_csv("housing.csv")

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
median_tota_bedrooms = df['total_bedrooms'].median()
df['total_bedrooms']=df['total_bedrooms'].fillna(median_tota_bedrooms)

In [ ]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [ ]:
unique_categories = sorted(list(set(df['ocean_proximity'])))

In [ ]:
print(unique_categories)

['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']

In [ ]:
one_hot_data = []

In [ ]:
for word in df['ocean_proximity']:
  current_row_encoding = []
  for category in unique_categories:
    if word == category:
      current_row_encoding.append(1)
    else:
      current_row_encoding.append(0)
  one_hot_data.append(current_row_encoding)

In [ ]:
for i in range(len(df['ocean_proximity'].head())):
    print(f"Original: {df['ocean_proximity'][i]:<12} -> Encoded: {one_hot_data[i]}")

Original: NEAR BAY     -> Encoded: [0, 0, 0, 1, 0]
Original: NEAR BAY     -> Encoded: [0, 0, 0, 1, 0]
Original: NEAR BAY     -> Encoded: [0, 0, 0, 1, 0]
Original: NEAR BAY     -> Encoded: [0, 0, 0, 1, 0]
Original: NEAR BAY     -> Encoded: [0, 0, 0, 1, 0]

In [ ]:
encoded_df = pd.DataFrame(one_hot_data,columns=unique_categories)

In [ ]:
df=pd.concat([df,encoded_df],axis=1)

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,0,1,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
 10  <1H OCEAN           20640 non-null  int64
 11  INLAND              20640 non-null  int64
 12  ISLAND              20640 non-null  int64
 13  NEAR BAY            20640 non-null  int64
 14  NEAR OCEAN          20640 non-null  int64
dtypes: float64(9), int64(5), object(1)
memory usage: 2.4+ MB

In [ ]:
y = df['median_house_value']
x = df.drop('median_house_value',axis=1)

In [ ]:
def split_shuffle_data(data,test_ration):
  np.random.seed(42)
  shuffled_indices=np.random.permutation(len(data))
  test_set_size= int(len(data) * 0.2)
  test_indices = shuffled_indices[:test_set_size]
  train_indices = shuffled_indices[test_set_size:]
  return data.iloc[train_indices],data.iloc[test_indices]

In [ ]:
train_set,test_set=train_set, test_set = split_shuffle_data(df,0.2)

In [ ]:
len(test_set)

4128

In [ ]:
len(train_set)

16512